<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Registro horarios</title>
</head>
<body>
    <div id="app">
        <div class="container mt-3 gap-4 d-grid">
            <div class="btn-group" role="group" aria-label="Selección">
                <input 
                    type="radio" 
                    class="btn-check" 
                    name="seleccionForm" 
                    id="registrarHorario" 
                    value='horario' 
                    v-model="form">
    
                <label for="registrarHorario" class="btn btn-outline-primary">Registrar Horario</label>
    
                <input 
                    type="radio" 
                    class="btn-check" 
                    name="seleccionForm" 
                    id="registrarPersona" 
                    value='persona' 
                    v-model="form">
    
                <label for="registrarPersona" class="btn btn-outline-secondary">Registrar Persona</label>
    
            </div>
            <h3>Registro de {{form}}s</h3>
        </div>

        <div class="container mt-3 gap-4 d-grid" v-if="form === 'horario'">
            <div class="form-floating">
                <select class="form-select" v-model="persona">
                    <option value="" disabled selected>Seleccioná una persona</option>
                    <option v-for="persona of personas" :value="persona._id">{{ persona.nombre }}</option>
                </select>
                <input type="text" v-model="nuevoHorario" style="display: none;">
                <label for="persona">Persona</label>
            </div>
            <div class="btn-group" role="group" aria-label="Tipo de horario">
                <input 
                    type="radio" 
                    class="btn-check" 
                    name="tipoHorario" 
                    id="entrada" 
                    value="Entrada" 
                    v-model="tipo_horario" 
                    :disabled="persona === ''"
                    @click="horaActual">
    
                <label for="entrada" class="btn btn-outline-success">Entrada</label>
    
                <input 
                    type="radio" 
                    class="btn-check" 
                    name="tipoHorario" 
                    id="salida" 
                    value="Salida" 
                    v-model="tipo_horario" 
                    :disabled="persona === ''"
                    @click="horaActual">
                <label for="salida" class="btn btn-outline-danger">Salida</label>
    
            </div>
            <div class="form-floating">
                <input id="hora" placeholder="Hora" type="datetime-local" class="form-control" v-model="horario">
                <label for="hora">Hora</label>
            </div>         
            <button class="btn btn-outline-primary" @click="agregarHorario" :disabled="tipo_horario === '' || persona === ''">Registrar</button>
            <table class="table">
                <thead>
                    <th>Persona</th>
                    <th>Tipo Horario</th>
                    <th>Horario</th>
                </thead>
                <tbody>
                    <tr v-for="(horario, index) of horarios">
                        <td>{{horario.persona.nombre}}</td>
                        <td>{{horario.tipo_horario}}</td>
                        <td>
                            {{new Date(horario.horario).toLocaleString()}}
                            <button type="button" class="btn-close float-end" aria-label="Borrar" @click="eliminarHorario(index)"></button>
                            <button class="material-icons btn btn-outline-ligth" @click="editarHorario(index)">edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container gap-4 d-grid mt-3" v-if="form === 'persona'">
            <div class="form-floating">
                <input 
                    id="nombre" 
                    placeholder="Nombre" 
                    type="text" 
                    v-model="nuevaPersona" 
                    class="form-control" 
                    autocomplete="off">
                <label for="nombre">Nombre</label>
            </div> 
            <button class="btn btn-outline-primary" @click="agregarPersona" :disabled="nuevaPersona === ''">Registrar</button>
            <h5>Personas Registradas</h5>
            <table class="table table-sm">
                <thead>
                    <th>Nombre</th>
                </thead>
                <tbody>
                    <tr v-for="(persona, index) of personas">
                        <td>
                            {{persona.nombre}}
                            <button type="button" class="btn-close float-end" aria-label="Borrar" @click="eliminarPersona(index)"></button>
                            <button class="material-icons btn btn-outline-ligth" @click="editarPersona(index)">edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>